<div class="container">
<div class ="heading">
<a class="heading" href="/"><h1 class ="heading">Welcome to the MTA</h1></a>
<h3 class ="heading">Getting you where you need to be.</h3>
<a href="/trains">View All Trains</a>
</div>

<div class="footer"><p>Product of Skunkmaster Industrial ®</p></div>
</div>