<div class="container">
<div class ="heading">
<a class="heading" href="/"><h1 class ="heading">Welcome to the MTA</h1></a>
<h3 class ="heading">Getting you where you need to be.</h3>
<!-- <a href="/trains">View All Trains</a> -->
</div>

<div class="main">
<h3 class= "main">Click on a train to see all of it's stops</h3>
  <div class="main-left">
  <a class="main" href="/trains/1"><img src="http://www.mta.info/weekender/images/routes/22px/1_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/2"><img src="http://www.mta.info/weekender/images/routes/22px/2_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/3"><img src="http://www.mta.info/weekender/images/routes/22px/3_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/4"><img src="http://www.mta.info/weekender/images/routes/22px/4_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/5"><img src="http://www.mta.info/weekender/images/routes/22px/5_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/6"><img src="http://www.mta.info/weekender/images/routes/22px/6_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/7"><img src="http://www.mta.info/weekender/images/routes/22px/7_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/A"><img src="http://www.mta.info/weekender/images/routes/22px/A_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/B"><img src="http://www.mta.info/weekender/images/routes/22px/B_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/D"><img src="http://www.mta.info/weekender/images/routes/22px/D_Over.gif" height="22px" width="22px"></a>
  </div>
  <div class="main-right">
  <a class="main" href="/trains/E"><img src="http://www.mta.info/weekender/images/routes/22px/E_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/F"><img src="http://www.mta.info/weekender/images/routes/22px/F_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/G"><img src="http://www.mta.info/weekender/images/routes/22px/G_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/H"><img src="http://www.mta.info/weekender/images/routes/22px/S_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/J"><img src="http://www.mta.info/weekender/images/routes/22px/J_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/L"><img src="http://www.mta.info/weekender/images/routes/22px/L_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/M"><img src="http://www.mta.info/weekender/images/routes/22px/M_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/N"><img src="http://www.mta.info/weekender/images/routes/22px/N_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/Q"><img src="http://www.mta.info/weekender/images/routes/22px/Q_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/R"><img src="http://www.mta.info/weekender/images/routes/22px/R_Over.gif" height="22px" width="22px"></a>
  <a class="main" href="/trains/S"><img src="http://www.mta.info/weekender/images/routes/22px/SIR_Over.gif" height="22px" width="22px"></a>
</div>
</div>

<div class="footer"><p>Product of Skunkmaster Industrial ®</p></div>
</div>